header, 
nav, 
footer {
background-color: black;
/*black background^^*/
color: white;
/*white text so it's readable^^*/
text-align: center;
/*centers text*/
width: 100%;
/*ensures background stretches the screen*/
}

body {
    background-color: aqua;
    /*light bluish background*/
    font font-family: impact, Haettenschweiler, 'Arial Narrow Bold'
    /*different fonts*/
    margin: 0;

}

section {
    border: 1px black
    padding: 20px;
    margin: 20px auto;
    min-width; 800px;
    width: 75
    background:  white;
    box-shadow: 0 2px 6px 
}